html, body{
	height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: #1c78c0;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #fff;
}

.active{
	color: green;
}

// footer
