html, body{
	height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: #1c78c0;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #fff;
}

.active{
	color: green;
}

.year{
	margin: 5px;
	padding: 8px 16px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: transparent;
	color: white;
	transition: .2s all ease;
	&:hover{
		background-color: rgba(255, 255, 255, 0.405);
	}
}

footer{
	color: white;
	position: absolute;
	width: 100%;
	bottom: 20px;
	a{
		color: white;
		&:hover{
			color: #8ed6fb;
		}
	}
}
